.container1table{
    display: flex;
    align-items: flex-start;
    margin-right:8vw;
}

.containerofuser{
    background-color: #d7dee4;
}

.tableheading{
    font-size: 48px;
    /* margin-top: 5vh;
    margin-left: 10vw !important ; */
    width: 60;
    font-family: 'Roboto';
}

.tablediv{
    width: 65vw;
}


/* button css */
.button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    background: linear-gradient(65deg,#d7dee4,beige);

   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10,25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }

.container1table{
    display: flex;
    align-items: flex-start;
    column-gap: 10vw;
}

.upcomingappts{
    display: flex;
    align-items: center;
    margin-left: 10vw;
    margin-top: 6vh;
    column-gap: 10px;
    margin-bottom: 4vh;
}

.upcomingimg{
    height: 50px;
}

.addapp{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2pc;
    margin-top: 2vh;
    border-color: #00A97F;
}

.addapphead{
    font-size: 32px;
    text-align: center;
    font-weight: 530;
}

.upcomingtext{
    /* color: ; */
}

.calendartable{
    margin-top: 10vh;
}

.claendarandadd{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
}

.queueimg{
    height:40vh;
    margin-left: 7vh;
}