body {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
.parentReviewDisplay {
  background-color: #d7f3de;
  padding: 20px 20px;
  border-radius: 3px;
}
.headingReviewDisplay {
  padding: 5px;
}
.headingsdisplay h2,
p {
  padding: 5px 0px;
}
.paraReviewDisplay p {
  padding: 0;
}
