
.bookedApp{
    margin-top: 5%;
    margin-left: 225px;
    overflow-x: hidden;
    width: 50%;
}
.TAbles{
    margin-bottom: 5%;
}
.ReqApp{
    
    margin-left: 0px;
    /* overflow-x: hidden; */
}
.bookedApp h1{
    /* text-align: center; */
    font-size: 45px;
    margin-bottom: 25px;
}
.ReqContainer h1{
    margin-top: 5%;
    /* text-align: center; */
    margin-left: 155px;
    font-size: 45px;
    margin-bottom: 55px;
}
body{
    overflow-x: hidden;
}
.ProffName{
    width: 75%;
    height: 250px;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 3%;
    margin-left: 225px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ProffName h1{
    padding-top: 70px;
    padding-left: 50px;
    font-size: 45px;
    color: #f64c72;
}
.ProffName p{
    font-size: 25px;
    color: #555;
    padding-top: 5px;
    padding-left: 50px;
}
.ProffName img{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 70%;
    top: 128px;
}
.accDecBtn .accbtn{
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(147, 242, 4);
    color: #fff;
    border: none;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.accDecBtn .decbtn{
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: red;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.CalenderDashBoard {
    position: absolute;
    top: 125%;
    left: 70%;
    margin-bottom: 5%;
}
.SchApp {
    margin-top: 5%;
    margin-left: 225px;
    width: 75%;
}
.SchApp h1{
    margin-bottom: 25px;
    font-size: 45px;
}
.WeeklyReportContainer{
    margin-left: 200px;
    margin-top: 7%;
}
.WeeklyReportContainer h1{
    font-size: 45px;
    margin-bottom: 45px;
    margin-left: 75px;
}
.WeeklyReports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: px; */
    justify-items: center;
    
}
.WeeklyReports .ReportBx{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: #2f2fa2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.WeeklyReports .ReportBx i{
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
    width: 75px;
    height: 75px;
    background-color: #f64c72;
    padding: 12px;
    border-radius: 2px;
}
.WeeklyReports .ReportBx span{
    font-size: 30px;
    margin-bottom: 45px;
    color: #fff;
}
.WeeklyReports .ReportBx p{
    font-size: 75px;
    color: #f64c72;
    font-weight: 700;
}