.cardgrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.BrowseCategoryContainer .categoryfooter{
    width: 95%;
    margin-left: 5%;
}
.BrowseCategoryContainer h1{
    text-align: center;
    font-size: 3em;
}